.card-container {
  margin-top: 10%;
}

.ca-header h1 {
  margin-bottom: 10%;
  font-size: 2rem;
  position: relative;
  width: fit-content;
  color: #fff;
}
a {
  color: #b1b1b1;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  .card-text {
    color: #b1b1b1;
    font-size: 0.8rem;
  }

  .card-title {
    font-family: Hind Siliguri, sans-serif;
    font-weight: 600;
    font-size: 1rem;
  }

  margin: 0 -1rem;
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .folder {
      color: #64ffda;
      margin-right: 1rem;
      font-size: 1.8rem;
    }

    .git-share {
      font-size: 1.2rem;
      display: flex;
      justify-content: space-evenly;
    }
  }
  .card-footer {
    font-family: Rubik;
    text-transform: uppercase;
    color: #a8b2d1;
    font-size: 0.6rem;
  }

  .card {
    
    color: white;
    background-color: #112240;
    width: 18rem;
    margin: 1rem;

    @media (max-width: 576px) {
      width: 100%;
    }
  }
}
