.projects {
    
  .row {
    margin: 0;
  }
}

.card {
  border: 2px solid white;
  margin: 6%;
  background: transparent;
  height: 20rem;
  width: 20rem;
  .card-body {
    padding: 5%;

    .icon {
      width: fit-content;
      font-size: 40px;
    }

    .git-share {
      display: flex;
      justify-content: space-between;
      color: #65747b;
      width: 17%;
      position: absolute;
      right: 8%;
      top: 15%;
      font-size: 1.3rem;
    }
    .content {
        padding-top: 5%;
      h5 {
 
        font-size: 1.2em;
        margin-top: 10px;
      }
      p {
        
        width: 95%;
        font-size: 1em;
        margin: 0;
      }
      .tools {
        color: #65747b;
        position: absolute;
        bottom: 20px;

        font-size: 1em;
      }
    }
  }
}

@media screen and (max-width: 1136px) {
  .col-md-4 {
    height: fit-content;
    margin: 5%;
  }
}

@media screen and (max-width: 989px) {
  .col-md-4 {
    height: fit-content;
    margin: 10%;
  }
}
