.about {
  margin-top: 10%;

  .about-header h1 {
    margin-bottom: 10%;
    font-size: 3rem;
    position: relative;
    width: fit-content;
    
  }

  .about-description {
    color: #b1b1b1;
    font-size: 1.6rem;
    text-align: left;
    width: 70%;
  }
}

.skills {
  color: #b1b1b1;
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  justify-content: left;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  
}

@media screen and (max-width:600px) {
 
}