.contact-father {
  height: 70vh;

  margin-top: 12%;

  
}


.contact {
  height: 70vh;

  text-align: center;




  .contact-description {

    padding-top: 10%;
  }

  .contact-header {

    
  }

  .contact-header h1 {
    color: white;
    position: relative;
    font-size: 2.5rem;
    width: fit-content;
  }

  .contact-header h1::after {
    content: "";
      position: absolute;
      bottom: 25px;
      left: 15rem;
      transform: translateX(-50%);
      border-top: 1px solid white;
      width: 200px;
  }

  .title h2 {
    font-size: 1.2rem;
    color: #64ffda;
  }

  .get-touch p {
    font-size: 1.5rem;
    font-family: Rubik, sans-serif;
  }

  .statement p {
    color: #65747b;
    font-size: 1.2rem;
  }

  button {
    margin-top: 2%;
  }
}

@media screen and (max-width: 600px) {
  .contact-father {
    height: 50vh;
  }
  .contact-header h1::after {
    display: none;
  }
}