.contact-father {

    padding-bottom: 20%;
    
    
    .contact {
        text-align: center;
        margin-top: 20%;


        .hello-button button {
        
            border: 2px solid white;
            background: transparent;
            color: white;

        }
    }

    
    
}