@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:wght@100&family=Maven+Pro:wght@400;500&family=NTR&family=Outfit:wght@100&family=Rajdhani:wght@400;500&family=Roboto+Condensed:wght@300;400&family=Roboto+Mono:wght@300;400;500;600&family=Rubik:wght@400;500;600&family=Source+Code+Pro:wght@300;400&display=swap');




.landing-par {
 

.landing-page{

    margin-top: 15%;
    color: white;

  .header-title h1 {

    font-size: 5rem;
  }

  .header-two h2 {
    font-family: Rubik;
    font-size: 1.8rem;
    color: #b1b1b1;
    margin-bottom: 2%;
  }

  a {
    text-decoration: none;
    
  }


  .landing-description{
    
    max-width: 50%;
    font-size: 1.3rem;
    margin-bottom: 2%;
    color: #b1b1b1;
  }

  .landing-description p {

    word-spacing: 7px;
  }



  }
}

  
  @media screen and (max-width:600px) {
    .landing-par {
      height: fit-content;
    .landing-page{
      padding-left: 5%;
      
      text-align: left;
      
      .header-title h1 {

        font-size: 2rem;
      }
      .header-two h2 {
        font-size: 1.2rem;
      }

      .landing-description {
        
        max-width: 100%;
      }

      button {
        margin-top: 1.5rem;
        font-size: 1rem;
      }
}
}
  }