.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(10, 25, 47, 0.9);
  backdrop-filter: blur(20px);
  width: 100%;
}

.nav {
  justify-content: flex-end;
  padding: 20px;
}

@media (max-width: 767px) {
  .nav-container {
    display: none;
  }
}