@media (max-width: 767px) {
    .nav-pills button {
      display: inline-block;
      width: 100%;
      text-align: left;
      margin-bottom: 0.5rem;
      font-size: 0.8rem;
    }
  }
  

  .tab-content {
    color: white;
  }

  .exp-header h1 {
    color: white;
    margin-bottom: 10%;
    font-size: 2rem;
    position: relative;
    width: fit-content;
    
  }